<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Quiz</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body class="flex">
    <button id="toggle-mode" class="btn">Toggle Dark Mode</button>
    <div class="container" id="home-page">
        <h1 class="animated-title">Welcome to Today's Trivia!</h1>
        <div id="quiz-form">
            <form id="trivia-form">
                <div class="form-group">
                    <label for="num-questions">How many questions?</label>
                    <select id="num-questions" name="num-questions" required></select>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select id="category" name="category" required>
                        <option value="9">General Knowledge</option>
                        <option value="10">Books</option>
                        <option value="11">Film</option>
                        <option value="12">Music</option>
                        <option value="21">Sports</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="difficulty">Difficulty:</label>
                    <select id="difficulty" name="difficulty" required>
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="type">Type of Question:</label>
                    <select id="type" name="type" required>
                        <option value="multiple">Multiple Choice</option>
                        <option value="boolean">True/False</option>
                    </select>
                </div>
                <button type="submit" class="btn submit-btn"><i class="fas fa-paper-plane"></i> Submit</button>
            </form>
        </div>
    </div>
    <div id="quiz-page" class="page" style="display: none;">
        <div id="questions-container"></div>
        <button id="back" class="btn back-btn"><i class="fas fa-arrow-left"></i> Back</button>
    </div>
    <div id="result-page" class="page" style="display: none;">
        <div id="result"></div>
        <div id="cumulative-score"></div>
        <div id="leaderboard"></div>
        <button id="restart" class="btn restart-btn"><i class="fas fa-sync-alt"></i> Restart</button>
    </div>
    <script src="script.js"></script>
</body>
</html>
